.main {
  text-align: center;
  background: #f9f7fe;
  padding: 160px 20px;
}
p,
h2,
.btn-primary {
  font-family: "Poppins", sans-serif;
  color: #272142;
}
p {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  margin-bottom: 10px;
}
h2 {
  line-height: 2;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}
.btn-class {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-weight: 20px;
  font-size: 22px;
  padding: 10px 20px;
}
.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.description {
  font-size: 64px;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgb(37, 37, 37);
  font-family: "Poppins", sans-serif;
}
.project-info {
  padding: 120px 60px;
}
.btn-branding {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
